<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %></h1>
    
    <!-- Possible layout for the email -->
    <p>
      Courses with spaces left:<br/>
    </p>
    
    <p>
      Courses with no spaces:<br/>
    </p>
  
    <p>Thanks you! Have a great day!</p>
  </body>
</html>