<!DOCTYPE html>
  
<!--
  The content of the email to notify a user that a course he or she is tracking has changed.
  Each course must have zero or more than zero seats available by definition;
  the code that sends this email is responsible for verifying that the situation
  merits sending a notification to the user.
  
  Author: Hansen Cheng
          Branden Ogata
-->  
  
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  
    <p><h1>Hi <%= @user.name %></h1></p>
    
    <!-- Displays the courses that had seat changes -->
    <p>This is a list of the courses that have changed:</p>
    
    <ul>
    <% @courses.each do |c| %>
      <li>
        <%= "#{c.name + '-' + ("%03d" % c.section)} (CRN #{c.crn})" %>
        <%= "no longer " if c.seats == 0 %>
        <%= "has seats available." %>
      </li>
    <% end %>
    </ul>  
    <p>Thank you! Have a great day!</p>
  </body>
</html>