<% provide(:title, 'Course List') %>

<% courses = get_test_courses() %>
<%= javascript_tag do %>
  setCourseData(<%= raw ['ICS', 'MATH', 'PSY'].to_json%>, <%= raw courses.to_json %>);
<% end %>

<div class="box-row">
	<%= select_tag(:department, nil, :prompt => "Select a Department") %>
</div>

<div class="list-row">
  
  <h2>Course List:</h2>
  <table border="1">
    <tr>
      <th>Course</th>
      <th>CRN</th>
      <th>Section</th>
      <th>Title</th>
      <th>Credits</th>
      <th>Instructor</th>
      <th>Seats Available</th>
      <th>Days</th>
      <th>Time</th>
      <th>Room</th>
      <th>Dates</th>
    </tr>
  </table>
</div>