<%provide(:title, 'Help')%>
<!DOCTYPE html>
<html>
<head>
	<title><%=yield(:title)%></title>
</head>

<body>
	<div class="center hero-unit">
		<h1>Help</h1>
		<p>Provides some answers on how to use the site. Under Construction</p>
	</div>
	
	<div>
	</div>
</body>
</html>