<%provide(:title, 'Help')%>
<!DOCTYPE html>
	
<!--
  A list of questions and answers regarding the functionality of this application.
	
  Author: Hansen Cheng
-->  	
	
<html>
<head>
	<title><%=yield(:title)%></title>
</head>

<body>
	<div class="center hero-unit">
		<h1>Help</h1>
		
		<br></br>
		
		<p><b>Frequently Asked Questions:</b><p>
		
		<p><b>1. How can I view the courses before making an selection?</b></p>
		<p>Answer: You can go to the Course List page and select a department
		   from the combobox and the results will be displayed in a table format.
		   Then you can review what are offered in the upcoming semester.</p>
		   
		<p><b>2. How can I add classes to the tracking list?</b></p>
		<p>Answer: On your profile page you will see couple comboboxes on the right.
		   You can select the semester, department, and the course you want to add
		   to the tracking list.</p>  
		   
		<p><b>3. Why can't I create another account with the same email address?</b></p>
		<p>Answer: You can't use the same email because it is being used as the username
		   to login to your account. This is to just ensure that each student is unique, and
		   that it is the student him/herself.</p>  
		 
		<p><b>4. How can I specified the frequency of the notifications being sent to me?</b></p>
		<p>Answer: On the Settings page you can type in a positive value such as 1 and then 
		   select either day, hr, or min in the drop down menu.</p>     
		   
		<p><b>5. How come there are only 3 departments available in the selection?</b></p>
		<p>Answer: Due to this project is a class project, we don't have accessed to a 
		   huge server with enough processing power to processed all of the departments 
		   currently available at UH.</p>
	</div>
	
	<div>
	</div>
</body>
</html>