<%provide(:title, 'Help')%>
<!DOCTYPE html>
<html>
<head>
	<title><%=yield(:title)%></title>
</head>

<body>
	<div class="center hero-unit">
		<h1>Help</h1>
		
		<br></br>
		
		<p><b>Frequently Asked Questions:</b><p>
		
		<p><b>How can I view the courses before making an selection?</b></p>
		<p>Answer: You can go to the Course List page and select a department
		   from the combobox and the results will be displayed in a table format.
		   Then you can review what are offered in the upcoming semester.</p>
		   
		<p><b>How can I add classes to the tracking list?</b></p>
		<p>Answer: On your profile page you will see couple comboboxes on the right.
		   You can select the semester, department, and the course you want to add
		   to the tracking list.</p>  
		   
		<p><b>Why can't I create another account with the same email address?</b></p>
		<p>Answer: You can't use the same email because it is being used as the username
		   to login to your account. This is to just ensure that each student is unique, and
		   that it is the student him/herself.</p>    
	</div>
	
	<div>
	</div>
</body>
</html>