<%provide(:title, 'Course Availability')%>
<!DOCTYPE html>
<html>
<head>
	<title><%=yield(:title)%></title>
</head>

<body>
	<div class="center hero-unit">
		<p>A place where students can get notifications of which class is available</p>
		
		<br></br>
		<p>1. Create a profile <%=image_tag("Class_Availability.jpg", alt: "Course")%></p>
		<br></br>
		<p>2. Select your classes, and frequency of message notifications</p>
		<br></br>
		<p>3. Get your class when notified of space is available</p>
	</div>
	
	
</body>
</html>
