<%provide(:title, 'Course Availability')%>
<!DOCTYPE html>
<html>
<head>
	<title><%=yield(:title)%></title>
</head>

<body>
	<div class="center hero-unit">
		<p>A place where students can get notifications of which class is available</p>
		
		<br></br>
		<p>1. Create a profile <%=image_tag("Profile.png", alt: "Create Profile")%></p>
		<br></br>
		<p>2. Select your classes, and frequency of message notifications 
			                      <%=image_tag("Book.png", alt: "Add Class")%></p>
		<br></br>
		<p>3. Get your class when notified of space is available
								 <%=image_tag("Checkmark.png", alt: "Success")%></p>
	</div>
	
	
</body>
</html>
