<%provide(:title, 'Course Availability')%>
<!DOCTYPE html>
<html>
<head>
	<title><%=yield(:title)%></title>
</head>

<body>
	<div class="center hero-unit">
		<h1>Course Availability</h1>
		<p>Home page to Course Availability. Currently under construction</p>
	</div>
	
</body>
</html>
