<% provide(:title, "Create Account") %>

<!--
  The Create Account page where new users can create an account.
  
  Author: Branden Ogata
-->

<div class="row">
  <div>
    <%= form_for(@user) do |f| %>
      <%= render 'user_fields', f: f %>
      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>