// Place all the styles related to the CoursePages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";


.navbar .navbar-fixed-top .navbar-inverse {
	background-color: #00BA00;
}

.navbar-inner {
	background-color: #00BA00;
}

.container {
	background-color: #00BA00;
}
ul {
	font-size: 25px;
	text-decoration: none;
}

a {
	font-size: 25px;
	color: #FFFFFF;
	text-decoration: none;
	
}

a:hover {
	text-decoration: none;
}