// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row {
	padding-top: 100px;
	padding-left: 100px;
	margin: none;
}

#add-new-courses {
	float: right;
}