// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 * Author: Hansen Cheng
 *         Branden Ogata
 *         
 */

.row {
	padding-top: 100px;
	padding-left: 100px;
	margin: none;
}

/* Selection options situated towards the right of the table displaying courses */
#add-new-courses {
	float: right;
}