<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<nav>
				<%= link_to "Course Availability", 'home', id: "logo" %>
				<ul class="nav pull-right">
					<li><%=link_to "Home", 'home'%></li>
					<li><%=link_to "Sign in", '#'%></li>
					<li><%=link_to "Help", 'help'%></li>
				</ul>	
			</nav>
		</div>
	</div>
	</header>